:root {
  --grass-green: #143224;
  --smoky-blue: #c2cde5;
  --light-lemon: #ffffd8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--smoky-blue);

  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  height: 100vh;

  display: grid;
  grid-template-rows: 10rem 1fr 3rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-weight: 500;
  font-size: 4.5rem;
  word-spacing: 2rem;
  color: var(--grass-green);
}

.main {
  /* padding: 5rem 0; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  min-width: 40%;
  flex-basis: 45%;
}

.register-player {
  border: 5px double var(--grass-green);
  height: 100%;
  padding: 1rem 3rem;

  display: grid;
  grid-template-areas:
    "title-x title-o"
    "name-x name-o"
    "start-button start-button";
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  gap: 1rem 3rem;
}

form .title {
  font-size: 2rem;
  font-weight: 500;
}

form .name {
  align-self: center;
  justify-self: start;

  font-size: 1.5rem;

  display: flex;
}

.title.player-x {
  grid-area: title-x;
}

.name.player-x {
  grid-area: name-x;
}

.title.player-o {
  grid-area: title-o;
}

.name.player-o {
  grid-area: name-o;
}

form .name label {
  flex-basis: 5.5rem;
  flex-shrink: 0;
}

form .name input {
  font-size: inherit;
  font-family: inherit;
  text-indent: 0.5rem;

  background: inherit;
  border: none;
  border-bottom: 1.5px solid black;
}

form .name input:focus {
  outline: none;
}

.button.start {
  grid-area: start-button;

  padding: 0.7rem 4rem;

  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 500;
  word-spacing: 1rem;

  border-radius: 2.5rem;
  border: none;

  background-color: var(--light-lemon);
}

.button:hover {
  outline: 2.5px solid black;
  cursor: pointer;
}

.button.select-mark {
  display: none;
}

.board-container {
  border: 0.45rem double white;
  padding: 1rem 3rem;

  flex-basis: 100%;
  min-width: 700px;

  display: none;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
}

.player-info {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.board {
  background-color: var(--grass-green);

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}

.square {
  background-color: var(--smoky-blue);
  font-size: 5rem;
  font-weight: 600;

  display: grid;
  place-items: center;
}

.square:hover {
  cursor: pointer;
}

.score {
  text-align: center;
}
